

#contenitoreOperazioni {
	background-color: #333333;
}

#operazioni {
	color: #CCCCCC;
}

#delimitaMenuOrizzontale {
}

.operazioniRighe {
	background-color: #333333;
}

.delimitaMenuOrizzontale1 {
}

#boxRicerca {
}

#cerca {
}

#tableBoxRicerca {
	background-color: #CCCCCC;
}

#boxDettagli {
}

#dettagli {
}

#tableBoxDettagli {
	background-color: #CCCCCC;
}

#tableBoxDettagli caption {
	background-color: #CCCCCC;
}

#contenutoEsterno {
}


#left {
}

#avvisiLaterali {
}

#avvisiLateraliInterno {
	background-color: #E57716;
	border: solid 1px #E57716;
}

#cellaAvvisi {
	background-color: #E57716;
}

#linguettaAvvisi {
}

#avvisiLateraliSx {
}

#avvisiLateraliInternoSx {
	background-color: #E57716;
	border: solid 1px #E57716;
}

#linguettaAvvisiSx {
}

